
<div id="header">
    {% if not plain %}
    <h1><span>{{ title|purify }}</span></h1>

        {% if intro %}
        <p>{{ intro|purify|raw }}</p>
        {% endif %}

    {% endif %}
</div>

<div id="chart"></div>

<div id="footer">
    {% if not plain %}
    <div class="footer-right">
      {% if source %}
          Quelle:
          {% if sourceURL %}<a target="_blank" class="source" href="{{ sourceURL }}">{% endif %}{{ source }}{% if sourceURL %}</a>{% endif %},
      {% endif %}
      <a href="data">Daten</a>
    </div>
{% endif %}
</div>
